@page "/products"
@using DTO;
@using Componets;

<PageTitle>Products</PageTitle>
<div class="row">
    @foreach(var p in products)
    {
        <div class="col-lg-4 col-md-6 col-sm-12">
            <BlazorShpoRadzen.Client.Componets.ProductCard product="p"></BlazorShpoRadzen.Client.Componets.ProductCard>
        </div>    
    }
</div>


@code {
    private List<Product> products = new List<Product>
    {
        new Product { Name = "Product 1", Price = 35.4, image = "1.jfif" },
        new Product { Name = "Product 2", Price = 15, image = "2.jfif" },
        new Product { Name = "Product 3", Price = 38.4, image = "3.jfif" },
        new Product { Name = "Product 4", Price = 35, image = "4.jfif" },
        new Product { Name = "Product 5", Price = 50, image = "5.jfif" },
        new Product { Name = "Product 6", Price = 41, image = "6.jfif" }
    };    
}
